article{
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
}

label{
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
}

a{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

#imgHeader{
    width: 63px;
    height: auto;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

#imgMath{
    margin: auto;
    display: block;
    width: 45%;
}

#gifMath{
    margin: auto;
    display: block;
    width: 45%;
}

nav{
    background-color: black;
    height: 3.93em;
}

.liNav{
    list-style: none;
    display: inline-block;
    margin: 0%;
    padding: 0%;
    position: relative;
    top: 12.5px;

}

.aNav{
    color: rgba(245,252,250,255);
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    height: 100%;
}

.aNav:hover{
    height: 28px;
    color: black;
    background-color: rgb(4,172,108);
    box-shadow: 2px 2px;
}

footer{
    background-color: black;
    color: rgba(245,252,250,255);
}

footer a{
    color: rgba(245,252,250,255);
}

#pFooter{
    text-align: center;
}

/* .main{
    background-color: ghostwhite;
    position: relative;
    width: 66%;
    margin: auto;
    padding-left: 1%;
    padding-right: 1%;
} */

article{
    margin: 10px 10px;
}

#datosDigilenciar{
    margin: 10px 10px;
}

.main{
    background-color: ghostwhite;
    width: 50%;
    margin: auto;
}

.wrapper{
    background: url(/img/fondo.jpg);
}

table{
    border: 1px solid black;
    border-collapse: collapse;
}

table td{
    border: 1px solid black;
    padding: 10px;
}

input[type="text"], input[type="number"], input[type="date"],select {
    width: 100%;
    /* corrige el marco del input con la de la tabla */
    margin-top: 5px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

input:focus, select:focus{
    outline: none;
    border: 1px solid #1668c4;
}

input[type="button"]{
    width: 25%;
    padding: 10px;
    margin: 5px;
    border: #ccc;
    background-color:#1668c4;
    color: #fff;
}

input[type="button"]:hover{
    background-color: #4A88F4;
}

input[type="button"]:active{
    box-shadow: 3px 3px #1668c4;
}




